
.iconok {
    background-image: url("icons/iconok.png");
    background-size: 16px;
    height: 16px;
    width: 16px;
}

.iconslow {
    background-image: url("icons/iconslow.png");
    background-size: 16px;
    height: 16px;
    width: 16px;
}

.iconko {
    background-image: url("icons/iconko.png");
    background-size: 16px;
    height: 16px;
    width: 16px;
}

.icon {
    background-image: url("icons/icon.png");
    background-size: 16px;
    height: 16px;
    width: 16px;
}

